<%= form_with(model: discount, local: true, html: { multipart: true, class: 'form-register' }) do |form| %>
  <% if discount.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(discount.errors.count, "erro") %> impediram o salvamento deste desconto:</h2>
      <ul>
        <% discount.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="discounts-top d-flex justify-content-between align-items-center" style="border-bottom: 1px solid #CFD8DC;">
    <h2>Formulário cadastro desconto</h2>
    <div class="form-check">
      <%= form.check_box :status, class: 'form-check-input' %>
      <label class="form-check-label" for="discount_status">Ativo</label>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :name, "Nome do desconto", class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Descrição do desconto", class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :discount_type, "Tipo do desconto", class: 'form-label' %>
    <%= form.select :discount_type, Discount.discount_types.keys.map { |w| [w.humanize, w] }, {}, class: 'form-select' %>
  </div>

  <div id="de_por_fields" class="row mb-3">
    <div class="col-md-6">
      <%= form.label :price_from, "Preço 'DE'", class: 'form-label' %>
      <%= form.number_field :price_from, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= form.label :price_to, "Preço 'POR'", class: 'form-label' %>
      <%= form.number_field :price_to, class: 'form-control' %>
    </div>
  </div>

  <div id="leve_mais_pague_menos_fields" class="row mb-3" style="display:none;">
    <div class="col-md-4">
      <%= form.label :price, "Preço", class: 'form-label' %>
      <%= form.number_field :price, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= form.label :quantity_leve, "Leve", class: 'form-label' %>
      <%= form.number_field :quantity_leve, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= form.label :quantity_pague, "Pague", class: 'form-label' %>
      <%= form.number_field :quantity_pague, class: 'form-control' %>
    </div>
  </div>

  <div id="percentual_fields" class="row mb-3" style="display:none;">
    <div class="col-md-6">
      <%= form.label :price, "Preço", class: 'form-label' %>
      <%= form.number_field :price, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= form.label :discount_percentage, "Percentual do Desconto", class: 'form-label' %>
      <%= form.number_field :discount_percentage, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :activation_date, "Data da ativação", class: 'form-label' %>
      <%= form.datetime_field :activation_date, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= form.label :deactivation_date, "Data da inativação", class: 'form-label' %>
      <%= form.datetime_field :deactivation_date, class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :image, "Imagem", class: 'form-label' %>
    <div class="border border-dotted p-3 text-center" style="border: 3px solid #ccc; border-style: dotted;">
      <div class="mb-2">
        <i class="bi bi-cloud-upload" style="font-size: 2rem;"></i>
      </div>
      <strong>Arraste e solte a imagem aqui ou clique para upload!</strong>
      <br>
      <small>Largura x altura recomendada 1000 x 1000px. Tamanho máximo 800KB.</small>
      <%= form.file_field :image, class: 'form-control-file' %>
    </div>

  </div>

  <div class="mb-3 text-end">
    <%= form.submit 'Salvar', class: 'btn btn-primary', style: 'background-color: #007FBA; width: 200px; height: 40px; text-align: center; padding-left: 0; padding-right: 0;' %>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    function toggleFields() {
      const discountType = document.querySelector('#discount_discount_type').value;
      document.querySelector('#de_por_fields').style.display = discountType === 'de_por' ? 'block' : 'none';
      document.querySelector('#leve_mais_pague_menos_fields').style.display = discountType === 'leve_mais_pague_menos' ? 'block' : 'none';
      document.querySelector('#percentual_fields').style.display = discountType === 'percentual' ? 'block' : 'none';
    }

    const discountTypeField = document.querySelector('#discount_discount_type');

    if (discountTypeField) {
      discountTypeField.addEventListener('change', toggleFields);
      toggleFields();
    }
  });
</script>
