<%= form_with(model: discount) do |form| %>
  <% if discount.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

      <ul>
        <% discount.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :store, style: "display: block" %>
    <%= form.text_field :store %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :discount_type, style: "display: block" %>
    <%= form.number_field :discount_type %>
  </div>

  <div>
    <%= form.label :activation_date, style: "display: block" %>
    <%= form.datetime_field :activation_date %>
  </div>

  <div>
    <%= form.label :deactivation_date, style: "display: block" %>
    <%= form.datetime_field :deactivation_date %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.check_box :status %>
  </div>

  <div>
    <%= form.label :price_from, style: "display: block" %>
    <%= form.text_field :price_from %>
  </div>

  <div>
    <%= form.label :price_to, style: "display: block" %>
    <%= form.text_field :price_to %>
  </div>

  <div>
    <%= form.label :price_leve, style: "display: block" %>
    <%= form.text_field :price_leve %>
  </div>

  <div>
    <%= form.label :price_pague, style: "display: block" %>
    <%= form.text_field :price_pague %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :discount_percentage, style: "display: block" %>
    <%= form.text_field :discount_percentage %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
