<h1>Histórico de Alterações dos Descontos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID do Desconto</th>
      <th>Evento</th>
      <th>Data de Alteração</th>
      <th>Usuário</th>
      <th>Alterações</th>
    </tr>
  </thead>
  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td><%= version.item_id %></td>
        <td><%= format_event_type(version.event) %></td>
        <td><%= version.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
        <td>
          <% user = User.find_by_id(version.whodunnit) %>
          <% unless user.nil? %>
            <%= user.email %>
          <% end %>
        </td>
        <td>
          <%= format_changes(version.object_changes) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
