<%= render "modal", title: "Detail item" do %>

  <p>
      <% if @discount.image.attached? %>
        <%= image_tag @discount.image %>
      <% end %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @discount.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @discount.description %>
    </p>

     <% case @discount.discount_type.to_sym %>
     <% when :de_por %>
      <p>
        <span>de</span>
        <s><%= format_price(@discount.price_from) %></s>
      </p>

      <p>
        <strong>por <%= format_price(@discount.price_to) %></strong>
      </p>
     <% when :leve_mais_pague_menos %>
      <p>
        <strong>Leve <%= @discount.quantity_leve %></strong>
        <strong>Pague <%= @discount.quantity_pague %></strong>
      </p>

      <p>
        <strong>Price:</strong>
        <%= format_price(@discount.price) %>
      </p>
     <% when :percentual %>
      <p>
        <%= format_percentage(@discount.discount_percentage) %>
        <strong>OFF</strong>
      </p>
      <p>
        <strong>Price:</strong>
        <s><%= format_price(@discount.price_percentual) %></s>
      </p>
      <p>
        <strong>Price final:</strong>
        <%= format_price(@discount.price_final) %>
      </p>
     <% end %>


  <div>
    <%= link_to "Edit this discount", edit_discount_path(@discount), data: { turbo_action: "advance" } %> |
    <%= link_to "Back to discounts", discounts_path %>

    <%= link_to "Delete", @discount, class: "btn btn-danger", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  </div>

<% end %>