<%= form_with(model: product, local: true, html: { class: 'form-register' }) do |form| %>
  <% if product.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(product.errors.count, "erro") %> impediram o salvamento deste produto:</h2>
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="products-top d-flex justify-content-between align-items-center" style="border-bottom: 1px solid #CFD8DC;">
    <h2>Formulário cadastro produto</h2>
  </div>

  <div class="mb-3">
    <%= form.label :title, "Título do Produto", class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Descrição do Produto", class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :price, "Preço", class: 'form-label' %>
    <%= form.number_field :price, class: 'form-control', step: '0.01' %>
  </div>

  <div class="mb-3 text-end">
    <%= form.submit 'Salvar', class: 'btn btn-primary', style: 'background-color: #007FBA; width: 200px; height: 40px; text-align: center; padding-left: 0; padding-right: 0;' %>
  </div>
<% end %>
