<!DOCTYPE html>
<html>
  <head>
    <title>ValeDesconto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2" id="sidebar">
          <div class="d-flex justify-content-center align-items-center">
            <%= image_tag 'logo-cor.png', alt: 'Logo', width: 147, height: 79, class: 'sidebar-logo' %>
          </div>
          <ul>
            <li>
              <%= link_to discounts_path, class: 'menu-link' do %>
                <%= image_tag 'money-bill-transfer-duotone.png', alt: 'Money', class: 'menu-icon-left' %>
                Lista de descontos
                <%= image_tag 'chevron.png', alt: 'Chevron', class: 'menu-icon-right' %>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="col-10" id="main-content">
          <%= yield %>
          <%= turbo_frame_tag "modal" %>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener('turbo:load', () => {
        document.querySelectorAll('a[data-turbo-action="advance"]').forEach(link => {
          link.addEventListener('click', event => {
            event.preventDefault();
            const url = event.currentTarget.href;
            const modal = document.getElementById('discountModal');

            if (modal) {
              // Bootstrap modal hide
              const bootstrapModal = bootstrap.Modal.getInstance(modal) || new bootstrap.Modal(modal);
              bootstrapModal.hide();

              // Wait for the modal to hide before navigating
              modal.addEventListener('hidden.bs.modal', () => {
                window.location.href = url;
              }, { once: true });
            } else {
              window.location.href = url;
            }
          });
        });
      });
    </script>
  </body>
</html>
